name: Build & Release EZauth

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Set version
        run: echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Build binary
        run: |
          mkdir -p build/ezauth/bin

          if [ "${{ matrix.goos }}" = "windows" ]; then
            output="build/ezauth/bin/ezauth.exe"
          else
            output="build/ezauth/bin/ezauth"
          fi

          echo "Building $output"
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o $output ./cmd/ezauth

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/ezauth/bin/*
